@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
    @model CalculatorModel;
}

<div class="row">

    <div class="col text-end pt-5">

        <h2>Grade Calculator</h2>

        <form id="formCalc" method="post">
            <div class="mb-3">
                <label>Assignments</label>
                <input id="assignmentPercent" type="number" />
            </div>

            <div class="mb-3">
                <label>Quizzes</label>
                <input id="quizzesPercent" type="number" />
            </div>

            <div class="mb-3">
                <label>Group Projects</label>
                <input id="groupPercent" type="number" />
            </div>

            <div class="mb-3">
                <label>INTEX</label>
                <input id="intexPercent" type="number" />
            </div>

            <div class="mb-3">
                <label>Midterm Exam</label>
                <input id="midtermExamPercent" type="number" />
            </div>

            <div class="mb-3">
                <label>Final Exam</label>
                <input id="finalExamPercent" type="number" />
            </div>

            <div class="mb-3">
                <span id="gradeHide"></span>
            </div>

            <button type="submit" class="btn btn-outline-success" id="btnCalc">Calculate</button>

            <div asp-validation-summary="All"></div>

        </form>

    </div>
</div>