@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
    ViewData["Header"] = "Parker Warner";
}

@* Index Page to show basic info *@
<div class="row">
    <div class="col pt-5">
        <div class="row">
            <h1>@ViewData["Header"]</h1>
            <img src="img/hero-bg2.jpeg" width="500px" height="auto" />
        </div>

        <div class="row pt-3">
            <p>
                I hope to not only be able to code but code like a master in strongly typed languages after this class. I also hope to come out being a master of C#
                so I could do cross development mobile apps and possibly AR with C#. I also really enjoy web development and being able to make full stack web apps as it is a
                very good skill that I will definitely need in the industry. Don't tell the other Profs but this is my favorite class because I love development so much.
            </p>
        </div>
    </div>

    <div class="col text-end pt-5">
        <div class="row pb-5">
            <h2>My Top 3 Jobs:</h2>
            <ul>
                <li class="list-group-item">Software Engineer</li>
                <li class="list-group-item">Machine Learning Engineer</li>
                <li class="list-group-item">Product Manager</li>
            </ul>
        </div>

        <div class="row pt-5">

        </div>
    </div>
</div>